{% set pipeline = data['object_attributes'] %}
{% set project = data['project'] %}
{% set builds = data['builds'] %}
{% set project_url = project['web_url'] %}
{% set pipeline_url = project_url ~ '/-/pipelines/' ~ pipeline['id'] %}
{% set running = true if pipeline['status'] == "running" else false%}

{% if running %}
🟣 Пайплайн <a href="{{ pipeline_url }}">#{{pipeline['id']}}</a> для проекта {{ project['name'] }} запущен.
{% else %}
{% if pipeline['status'] == "success" %}
🟢 Пайплайн <a href="{{ pipeline_url }}">#{{pipeline['id']}}</a> для проекта {{ project['name'] }} завершился успешно.
{% elif pipeline['status'] == "canceled" %}
⚪️ Пайплайн <a href="{{ pipeline_url }}">#{{pipeline['id']}}</a> для проекта {{ project['name'] }} отменён.
{% else %}
🔴 Пайплайн <a href="{{ pipeline_url }}">#{{pipeline['id']}}</a> для проекта {{ project['name'] }} не выполнился.
{% endif %}
{% endif %}

Сведения о пайплайне:
- Ветка: {{ pipeline['ref'] }}
- Источник: {{ pipeline['source'] }}

{% if not running %}
Сведения о задачах:
{%for build in builds %}
- {{ build['name'] }} (Стадия: {{ build["stage"] }})
{% if build['status'] == "success" %}
✅ Выполнено
{% elif build['status'] == "canceled" %}
❕ Отменён
{% else %}
{% if build['allow_failure'] %}
⚠️ Ошибка проигнорирована
{% else %}
❌ Ошибка
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

#pipeline #{{ project['name'] }}
