{% set commit = data['commits'][0] %}
{% set project = data['project'] %}
{% set author = commit['author'] %}
✅ Новый <a href="{{ commit['url'] }}"> коммит </a> в проекте <a href="{{ project['web_url'] }}">{{ project['name'] }}</a>!

Автор: {{ author['name'] }}({{ author['email'] }}) 

#push #{{ project['name']}}