🟣 Темплейт {{data['name']}} для проекта {{data['project']}} запущен

<a href="{{ data['url'] }}">Наблюдать за выполнением</a>

Данные:
 - Идентификатор: {{ data['id'] }}
 - Inventory: {{ data['inventory'] }}
 - Плейбук: {{ data['playbook'] }}

#awx #{{ data['project'] | replace(' ','_') | lower}} #{{ data['name'] | replace(' ','_') | lower}}