🟢 Темплейт {{data['name']}} для проекта {{data['project']}} выполнен успешно

<a href="{{ data['url'] }}">Наблюдать за выполнением</a>

Данные:
 - Идентификатор: {{ data['id'] }}
 - Inventory: {{ data['inventory'] }}
 - Плейбук: {{ data['playbook'] }}

Сводка по хостам:
{% for hostname, statuses in data['hosts'].items() %}
 - {{ hostname }}:{% if statuses['failed'] %} ❌ Ошибка {% else %} ✅ Выполнено {% endif %} 
{% endfor %}

#awx #{{ data['project'] | replace(' ','_') | lower}} #{{ data['name'] | replace(' ','_') | lower}}